@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TT-Norms-Fonts/TTNorms-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TT-Norms-Fonts/TTNorms-Medium.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TT-Norms-Fonts/TTNorms-Bold.otf');
  font-weight: bold;
}